
body {
  background-color: #efefef;
  overflow-x: hidden; /* Hide horizontal scrollbar if content overflows. */
}


.image-container {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /*set min_width to 250px and max_width to 1fr if empty_space is available*/
  column-gap: 24px; 
  row-gap: 36px; 
  align-items: center;
  padding: 16px; 
}


.image-container img {
  width: 100%; 
  height: 300px;
  display: block; 
  border: none; 
  border-radius: 16px; 
  transition: all ease 0.5s;
}


.image-container img:hover {
  box-shadow: rgba(50, 50, 93, 0.45) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.5) 0px 30px 60px -30px,
              rgba(10, 37, 64, 0.55) 0px -2px 6px 0px inset;
  transform: scale(1.05);
}
